ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
	font-size: 12px;
    background-color: #eceff1;
    color: #333333;
}
li span {
    display: inline-block;
    min-width: 65px;
}
li:hover {
    background-color: #90a4ae;
    color: #ffffff;
}
/*Overwrite PaymentBanks*/

.pb {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-size: 25px 25px;
}