.pb {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.pb-noimage {
    background-image: url(Images/NoImage.png);
}
.pb-qpay {
    background-image: url(Images/QPay.png);
}
.pb-paypal {
    background-image: url(Images/PayPal.png);
}